{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
{% comment %} <h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form> {% endcomment %}

		<!--Register-section-->
		<section class="sptb">
			<div class="container customerpage">
				<div class="row">
				    <div class="single-page" >
						<div class="col-lg-5 col-xl-4 col-md-6 d-block mx-auto">
							<div class="wrapper wrapper2">
								<div class="p-4 mb-5">
									<h4 class="text-left font-weight-semibold fs-16">Зарегистрироваться</h4>
									{% comment %} <div class="btn-list d-sm-flex">
										<a href="https://www.google.com/gmail/" class="btn btn-primary mb-sm-0"><i class="fa fa-google fa-1x mr-2"></i> Google</a>
										<a href="https://twitter.com/" class="btn btn-secondary mb-sm-0"><i class="fa fa-twitter fa-1x mr-2"></i> Twitter</a>
										<a href="https://www.facebook.com/" class="btn btn-info mb-0"><i class="fa fa-facebook fa-1x mr-2"></i> Facebook</a>
									</div> {% endcomment %}
								</div>
								{% comment %} <hr class="divider"> {% endcomment %}
								<form id="Register" method="post" action="{% url 'account_signup' %}" class="card-body" tabindex="500">
									{% csrf_token %}
                 				 {{ form.as_p }}
								  {% comment %} {{form.username |crispy}}  {% endcomment %}
				{% comment %} чекаем доббавление поля  {% endcomment %}
								{% if redirect_field_value %}
								<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
								{% endif %}

									<div class="submit">
                    <button class="btn btn-primary btn-block" type="submit">{% trans "Sign Up" %} &raquo;</button>
									</div>
									<p class="text-dark mb-0">Already have an account?<a href="login.html" class="text-primary ml-1">Sign In</a></p>
								</form>

            

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--Register-section-->



{% endblock %}
