{% load static %}

<!--Footer Section-->
		<section class="main-footer">
			<footer class="bg-dark text-white cover-image" data-image-src="{%static '/images/banners/banner3.jpg' %}">
				{% comment %} <div class="footer-main">
					<div class="container">
						<div class="row">
							<div class="col-lg-2 col-md-12">
								<h6>Категории</h6>
								<hr class="deep-purple  accent-2 mb-4 mt-0 d-inline-block mx-auto">
								<ul class="list-unstyled mb-0">
									<li><a href="#">Developement</a></li>
									<li><a href="#">Designing</a></li>
									<li><a href="#">Marketing</a></li>
									<li><a href="#">Others</a></li>
								</ul>
							</div>
							<div class="col-lg-2 col-md-12">
								<h6>Школы</h6>
								<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto">
								<ul class="list-unstyled mb-0">
									<li><a href="#">Work from home</a></li>
									<li><a href="#">Internship</a></li>
									<li><a href="#">Part time</a></li>
									<li><a href="#">Full time</a></li>
								</ul>
							</div>
							<div class="col-lg-2 col-md-12">
								<h6>О нас</h6>
								<hr class="deep-purple  accent-2 mb-4 mt-0 d-inline-block mx-auto">
								<ul class="list-unstyled mb-0">
									<li><a href="#">Как это работает</a></li>
									<li><a href="#">Партнерам</a></li>
									<li><a href="#">Разместить курс</a></li>
									<li><a href="#">Contact Details</a></li>
								</ul>
							</div>
							<div class="col-lg-3 col-md-12">
								<h6>Popular Ads</h6>
								<hr class="deep-purple  accent-2 mb-4 mt-0 d-inline-block mx-auto">
								<ul class="list-unstyled mb-0">
									<li><a href="#"><i class="fa fa-caret-right text-white-50"></i> Educational college Ads</a></li>
									<li><a href="#"><i class="fa fa-caret-right text-white-50"></i> Free Lancer for Web Developer</a></li>
									<li><a href="#"><i class="fa fa-caret-right text-white-50"></i> Searching for Developer</a></li>
									<li><a href="#"><i class="fa fa-caret-right text-white-50"></i> BPO Online In Bangalore</a></li>
								</ul>
							</div>
							<div class="col-lg-3 col-md-12">
								<h6 class="mb-2">Subscribe</h6>
								<hr class="deep-purple  accent-2 mb-4 mt-0 d-inline-block mx-auto">
								<div class="input-group w-100">
									<input type="text" class="form-control " placeholder="Email">
									<div class="input-group-append ">
										<button type="button" class="btn btn-primary "> Subscribe </button>
									</div>
								</div>
								
							</div>
						</div>
					</div>  
				</div> {% endcomment %}
				<div class="text-white p-0 border-top">
					<div class="container">
						<div class="p-2 text-center footer-links">
							<a href="{% url 'index' %}" class="btn btn-link">Главная</a>
							<a href="{% url 'categories' %}" class="btn btn-link">Направления</a>
							<a href="{% url 'vendors' %}" class="btn btn-link">Школы</a>
						
						</div>
					</div>
				</div>
				<div class="text-white-50 border-top p-0">
					<div class="container">
						<div class="row d-flex">
							<div class="col-lg-8 col-sm-12  mt-2 mb-2 text-left ">
								Copyright © 2020 <a href="{% url 'index' %}" class="fs-14 text-white">EdTech.Review</a>. Designed by <a href="spruko.com" class="fs-14 text-white">Spruko</a> All rights reserved.
							</div>
							<div class="col-lg-4 col-sm-12 ml-auto mb-2 mt-2 d-none d-lg-block">
								<ul class="social mb-0">
									<li>
										<a class="social-icon" href=""><i class="fa fa-facebook"></i></a>
									</li>
									<li>
										<a class="social-icon" href=""><i class="fa fa-twitter"></i></a>
									</li>
									<li>
										<a class="social-icon" href=""><i class="fa fa-rss"></i></a>
									</li>
									<li>
										<a class="social-icon" href=""><i class="fa fa-youtube"></i></a>
									</li>
									<li>
										<a class="social-icon" href=""><i class="fa fa-linkedin"></i></a>
									</li>
									<li>
										<a class="social-icon" href=""><i class="fa fa-google-plus"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				
			</footer>
		</section>
		<!--Footer Section-->