
<!--Nav-->
                <nav class="horizontalMenu clearfix d-md-flex">
                    <ul class="horizontalMenu-list">
                        <li><a href="{% url 'index' %}">Главная </a>
                            {% comment %} <ul class="sub-menu">
                                <li><a href="index.html">Home Deafult</a></li>
                                <li><a href="index2.html">Home Style 02</a></li>
                                <li><a href="index3.html">Home Style 03</a></li>
                                <li><a href="index4.html">Home Style 04</a></li>
                                <li><a href="index5.html">Home Style 05</a></li>
                                <li><a href="index6.html">Home Style 06</a></li>
                                <li><a href="index7.html">Home Style 07</a></li>
                                <li><a href="intro-page.html">Home Intro Page</a></li>
                                <li><a href="popup-login.html">Home Pop-up login</a></li>
                            </ul> {% endcomment %}
                        </li>
                        <li><a href="{% url 'categories' %}" >Направления <span class="fa fa-caret-down m-0"></span></a>
                            <ul class="sub-menu">
                                {% for category in categories %}
                                <li>
                                    <a href="{% url 'category' category.slug %}">{{category.russian_alias}}</a>
                                </li>
                                {% endfor %}
                                
                            </ul>
                            {% comment %} <div class="horizontal-megamenu clearfix">
                                <div class="container">
                                    <div class="megamenu-content">
                                        <div class="row">
                                            <ul class="col link-list">
                                                <li class="title">Job List pages</li>
                                                <li><a href="jobs-list.html">Jobs List</a></li>
                                                <li><a href="jobs-list-right.html">Jobs List Right</a></li>
                                                <li><a href="jobs-list-map.html">Jobs Map list</a></li>
                                                <li><a href="jobs-list-map2.html">Jobs Map list 02</a></li>
                                                <li><a href="jobs-list-map3.html">Jobs Map style 03</a></li>
                                                <li><a href="jobs.html">Jobs Left</a></li>
                                                <li><a href="jobs-right.html">Jobs Rights </a></li>
                                                <li class="title mt-4">Candidate list Pages</li>
                                                <li><a href="candidate-listing.html">Candidate Listing</a></li>
                                                <li><a href="candidate-listing2.html">Candidate Listing Style2</a></li>
                                                <li><a href="candidate-profile.html">Candidate Profile</a></li>
                                            </ul>
                                            <ul class="col link-list">
                                                <li class="title">Candidate pages</li>
                                                <li><a href="advanced-search.html">Advanced Search</a></li>
                                                <li><a href="create-resume.html">Create Resume </a></li>
                                                <li class="title mt-4">Company List Pages</li>
                                                <li><a href="company-list.html">Company Listing</a></li>
                                                <li><a href="company-list2.html">Company Listing Style2</a></li>
                                                <li><a href="company-details.html">Company Details</a></li>
                                                <li><a href="company-reviews.html">Company Reviews</a></li>
                                                <li><a href="company-list-map.html">Company Map list</a></li>
                                                <li><a href="company-list-map2.html">Company Map list 02</a></li>
                                                <li><a href="company-list-map3.html">Company Map style 03</a></li>
                                                <li><a href="my-jobs.html">My Jobs</a></li>
                                            </ul>
                                            <ul class="col link-list">
                                                <li class="title">Widgets</li>
                                                <li><a href="widgets.html">Custom Widgets</a></li>
                                                <li><a href="widgets-carousel.html">Owl Carousel Widgets</a></li>
                                                <li><a href="widgets-verticalscroll.html">Vertical Scroll Widgets</a></li>
                                                <li class="title mt-4">Pages</li>
                                                <li><a href="categories.html">Categories</a></li>
                                                <li><a href="ad-posts.html">Ad Posts</a></li>
                                                <li><a href="ad-posts2.html">Ad Posts2</a></li>
                                                <li><a href="pricing.html">Pricing Tables</a></li>
                                                <li><a href="profile.html">Profile Page</a></li>
                                                <li><a href="userprofile.html"> User Profile</a></li>
                                                <li><a href="usersall.html">User Lists</a></li>

                                            </ul>
                                            <ul class="col link-list">
                                                <li class="title">User Pages</li>
                                                <li><a href="inovice.html">Invoice</a></li>
                                                <li><a href="typography.html">Typography</a></li>
                                                <li><a href="underconstruction.html">Under Constructions</a></li>
                                                <li><a href="400.html">400 Error</a></li>
                                                <li><a href="404.html">404 Error</a></li>
                                                <li><a href="500.html">500 Error</a></li>
                                                <li><a href="404-inline.html">Inline Error</a></li>
                                                <li><a href="register.html">Register</a></li>
                                                <li><a href="login.html">Login</a></li>
                                                <li><a href="login-2.html">Login 02</a></li>
                                                <li><a href="forgot.html">Forgot Password</a></li>
                                                <li><a href="lockscreen.html">Lock Screen</a></li>
                                                <li><a href="faq.html">Faq</a></li>
                                            </ul>
                                            <ul class="col link-list">
                                                <li class="title">Headers & Footers</li>
                                                <li><a href="header-style1.html">Header Style 01</a></li>
                                                <li><a href="header-style2.html">Header Style 02</a></li>
                                                <li><a href="header-style3.html">Header Style 03</a></li>
                                                <li><a href="header-style4.html">Header Style 04</a></li>
                                                <li><a href="footer-style1.html">Footer Style 01</a></li>
                                                <li><a href="footer-style2.html">Footer Style 02</a></li>
                                                <li><a href="footer-style3.html">Footer Style 03</a></li>
                                                <li><a href="footer-style4.html">Footer Style 04</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div> {% endcomment %}
                        </li>
                        {% comment %} <li><a href="#">Blog <span class="fa fa-caret-down m-0"></span></a>
                            <ul class="sub-menu">
                                <li><a href="#">Blog Grid <i class="fa fa-angle-right float-right mt-1 d-none d-lg-block"></i></a>
                                        <ul class="sub-menu">
                                        <li><a href="blog-grid.html">Blog Grid Left</a></li>
                                        <li><a href="blog-grid-right.html">Blog Grid Right</a></li>
                                        <li><a href="blog-grid-center.html">Blog Grid Center</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Blog List <i class="fa fa-angle-right float-right mt-1 d-none d-lg-block"></i></a>
                                        <ul class="sub-menu">
                                        <li><a href="blog-list.html">Blog List Left</a></li>
                                        <li><a href="blog-list-right.html">Blog List Right</a></li>
                                        <li><a href="blog-list-center.html">Blog List Center</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Blog Details <i class="fa fa-angle-right float-right mt-1 d-none d-lg-block"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="blog-details.html">Blog Details Left</a></li>
                                        <li><a href="blog-details-right.html">Blog Details Right</a></li>
                                        <li><a href="blog-details-center.html">Blog Details Center</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li> {% endcomment %}
                        <li><a href="{% url 'vendors' %}">Школы <span class="fa fa-caret-down m-0"></span></a>
                            <ul class="sub-menu">
                                {% for vendor in vendors %}
                                <li>
                                    <a href="{% url 'vendor' vendor.slug %}">{{vendor.vendor}}</a>
                                </li>
                                {% endfor %}
                                
                            </ul>
                        </li>
                        {% comment %} <li><a href="contact.html"> Contact Us <span class="horizontal-arrow"></span></a></li> {% endcomment %}
                        <li class="pt-0  pb-2 mt-lg-0 create-submit-btn">
                            <span><a class="btn btn-secondary ad-post mt-1" href="ad-posts.html"><i class="fa fa-briefcase"></i> Submit a Job</a></span>
                        </li>
                        <li class="mt-0 pt-0  pb-5 mt-lg-0 create-resume-btn">
                            <span><a class="btn btn-info ad-post mt-1" href="create-resume.html"><i class="fa fa-edit"></i> Create Resume</a></span>
                        </li>
                    </ul>
                </nav>
                <!--/Nav-->