
{% extends 'base.html' %}


{% block content %}




	

		<!--Breadcrumb-->
		<section>
			<div class="bannerimg cover-image bg-background3" data-image-src="../assets/images/banners/banner2.jpg">
				<div class="header-text mb-0">
					<div class="container">
						<div class="text-center text-white">
							<h1 class="">My Dashboard</h1>
							<ol class="breadcrumb text-center">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active text-white" aria-current="page">My Dashboard</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--Breadcrumb-->

		<!--User Dashboard-->
		<section class="sptb">
			<div class="container">
				<div class="row">
					<div class="col-xl-3 col-lg-12 col-md-12">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Профиль</h3>
							</div>
							<div class="card-body text-center item-user border-bottom">
								<div class="profile-pic">
									<div class="profile-pic-img">
										<span class="bg-success dots" data-toggle="tooltip" data-placement="top" title="online"></span>
										{% comment %} <img src="../assets/images/users/male/25.jpg" class="brround" alt="user"> {% endcomment %}
									</div>
									<a href="userprofile.html" class="text-dark"><h4 class="mt-3 mb-0 font-weight-semibold">{{user.username}}</h4></a>
								</div>
							</div>
							<div class="item1-links  mb-0">
								<a href="mydash.html" class="active d-flex border-bottom">
									<span class="icon1 mr-2"><i class="typcn typcn-edit fs-20"></i></span> Инфо
								</a>
								<a href="myjobs.html" class=" d-flex border-bottom">
									<span class="icon1 mr-2"><i class="typcn typcn-briefcase fs-20"></i></span> Сменить пароль
								</a>
								<a href="myfavorite.html" class="d-flex border-bottom">
									<span class="icon1 mr-2"><i class="typcn typcn-heart-outline fs-20"></i></span> Выслать подтверждение
								</a>
								
								<a href="settings.html" class="d-flex border-bottom">
									<span class="icon1 mr-2"><i class="typcn typcn-cog-outline fs-20"></i></span> Settings
								</a>
								<a href="{% url 'account_logout' %}?next={% url 'listings' %}" class="d-flex"> 
									<span class="icon1 mr-2"><i class="typcn typcn-power-outline fs-20"></i></span> Выйти
								</a>
							</div>
						</div>
						<div class="card my-select">
							<div class="card-header">
								<h3 class="card-title">Search Classes</h3>
							</div>
							<div class="card-body">
								<div class="form-group">
									<input type="text" class="form-control" id="text" placeholder="What are you looking for?">
								</div>
								
								<div class="">
									<a href="#" class="btn btn-block btn-primary">Search</a>
								</div>
							</div>
						</div>
						<div class="card mb-xl-0">
							<div class="card-header">
								<h3 class="card-title">Safety Tips For Buyers</h3>
							</div>
							<div class="card-body">
								<ul class="list-unstyled widget-spec  mb-0">
									<li class="">
										<i class="fa fa-check text-success" aria-hidden="true"></i> Meet Seller at public Place
									</li>
									<li class="">
										<i class="fa fa-check text-success" aria-hidden="true"></i> Check item before you buy
									</li>
									<li class="">
										<i class="fa fa-check text-success" aria-hidden="true"></i> Pay only after collecting item
									</li>
									<li class="ml-5 mb-0">
										<a href="tips.html"> View more..</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-xl-9 col-lg-12 col-md-12">
						<div class="card mb-0">
							<div class="card-header">
								<h3 class="card-title">Настройки профиля</h3>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-sm-6 col-md-6">
									
										<div class="form-group">
											<label class="form-label">Изменить Имя</label>
											<input type="email" class="form-control" placeholder="Имя">
										</div>
									</div>
									
									<div class="col-sm-6 col-md-6">
										<div class="form-group">
											{% comment %} <label class="form-label">Last Name</label> {% endcomment %}
										
								<div class="card mb-xl-0">
							<div class="card-header">
								<h3 class="card-title">Ваши данные</h3>
							</div>
							<div class="card-body">
								<ul class="list-unstyled widget-spec  mb-0">
									<li class="">
										<i class="fa fa-check text-success" aria-hidden="true"></i> Почта : <p> {{user.email}}</p>
									</li>
									<li class="">
										<i class="fa fa-check text-success" aria-hidden="true"></i> Имя : <p> {{user.email}}</p>
									</li>
									<li class="">
										<i class="fa fa-check text-success" aria-hidden="true"></i> Количество отзывов : <p> {{user.email}}</p>
									</li>
								
									
								</ul>
							</div>
							</div>
										</div>
									</div>
									{% comment %} <div class="col-sm-6 col-md-6">
										<div class="form-group">
											<label class="form-label">Email address</label>
											<input type="email" class="form-control" placeholder="Email">
										</div>
									</div> {% endcomment %}
								

									{% comment %} <div class="col-md-12">
										<div class="form-group">
											<label class="form-label">About Me</label>
											<textarea rows="5" class="form-control" placeholder="Enter About your description"></textarea>
										</div>
									</div> {% endcomment %}
										{% comment %} <div class="col-md-12">
											<div class="form-group mb-0">
												<label class="form-label">Загрузить фото профиля</label>
												<div class="custom-file">
													<input type="file" class="custom-file-input" name="example-file-input-custom">
													<label class="custom-file-label">Выбрать фото</label>
												</div>
											</div>
										</div> {% endcomment %}
								</div>
							</div>
							<div class="card-footer">
								<button type="submit" class="btn btn-primary">Сохранить изменения</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/User Dashboard-->



	
		

{% endblock content %}