{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load ratings %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}

<!--Job listing-->
		<section class="sptb">
			<div class="container">
				<div class="row">
	<!--Left Side Content-->
	<div class="col-xl-3 col-lg-4 col-md-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Фильтры </h3>
			</div>
			<div class="card-body">
				<div class="" id="container">
				<form method = 'GET'>
					{{myFilter.form|crispy}}
				</div>
			</div>
			<div class="card-footer">
				<button type="submit" class="btn btn-info btn-block">Применить</button>
				</form>
			</div>
			</div>
	
	</div>
	<!--/Left Side Content-->
<div class="col-xl-9 col-lg-8 col-md-12">
						<!--Job lists-->
						<div class=" mb-lg-0">
							<div class="">
								<div class="item2-gl">
									<div class=" mb-0">
										<div class="">
											<div class="p-5 bg-white item2-gl-nav d-flex">
												<h6 class="mb-0 mt-3">Найдено курсов: <b>{{len_listiings}}</b> </h6>
												<ul class="nav item2-gl-menu mt-1 ml-auto">
													<li class=""><a href="#tab-11" class="active show" data-toggle="tab" title="Grid"><i class="fa fa-th"></i></a></li>
													<li><a href="#tab-12" data-toggle="tab" class="" title="List style"><i class="fa fa-list"></i></a></li>
												</ul>
												<div class="d-flex">
													<label class="mr-2 mt-2 mb-sm-1">Сортировать</label>
													<select class="form-control select2-no-search w-70">
														<option value="1">По рейтингу</option>
														<option value="2">Популярные</option>
														<option value="3">Сначала дешевые</option>
														<option value="4">Сначала дорогие</option>														
													</select>
												</div>
											
											</div>
										</div>
									</div>
									<div class="tab-content">
										<div class="tab-pane  active" id="tab-11">

											{% if listings %}
												{% for listing, rating in zipped_tabs %}
											<div class="card overflow-hidden br-0 overflow-hidden filt" id='listings'>
												<div class="d-md-flex">
													<div class="p-0 m-0 item-card9-img">
														{% comment %} <div class="item-card9-icons">
																<a href="#" class="item-card9-icons1 bg-black-trasparant"> <i class= "fa fa-star">{{rating|floatformat:1}} </i> </a>
														</div> {% endcomment %}
														<div class="item-card9-imgs">
														<div class="arrow-ribbon bg-purple">{{listing.vendor}}</div>
															<a href="{% url 'listing' listing.slug %}"></a>
															{% if listing.main_image %}
															<img src="{{ listing.main_image.url}}" alt="img" class="h-100">
															{% endif %}
														</div>
													</div>
													<div class="card overflow-hidden  border-0 box-shadow-0 border-left br-0 mb-0">
														<div class="card-body pt-0 pt-md-5">
															<div class="item-card9">
																<a href="{% url 'listing' listing.slug %}" class="text-dark"><h4 class="font-weight-semibold mt-1 filt">{{listing.course_name}}</h4></a>
																<div class="mt-2 mb-2">
																	<a href="#" class="mr-4"><span><i class="fa fa-building-o text-muted mr-1"></i> {{listing.vendor}}</span></a>
																	<a href="#" class="mr-4"><span><i class="fa fa-map-marker text-muted mr-1"></i> {{listing.direction_name}}</span></a>
																	<a href="#" class="mr-4"><span><i class="fa fa fa-usd text-muted mr-1"></i> {{listing.price_full | intcomma}}</span></a>
																	<a href="#" class="mr-4 ak_h"><span><i class="fa fa-clock-o text-muted mr-1"></i> {{listing.program_length}} мес	</span></a>
																	<a href="#" class="mr-4"><span><i class="fa fa-briefcase text-muted mr-1"></i> {{listing.academic_hours}} ак.ч.</span></a>
																</div>
																<p class="mb-0 leading-tight">{{listing.description_short}}</p>
															</div>
														</div>
														<div class="card-footer pt-3 pb-3">
															<div class="item-card9-footer d-flex">
															    <div class="d-flex align-items-center mb-3 mb-md-0 mt-auto posted">
																	<div>
																		{%if listing.start_date%}
																		<a href="profile.html" class="text-muted fs-12 mb-1">Ближайший старт </a><span class="ml-1 fs-13"> {{listing.start_date}}</span>
																			{%endif%}
																			<div class="item-card2-rating">
																				<a><i class="fa fa-star {% if rating >= 1 %} text-yellow{% endif %}"></i></a>
																				<a><i class="fa fa-star {% if rating >= 2 %} text-yellow{% endif %}"></i></a>
																				<a><i class="fa fa-star {% if rating >= 3 %} text-yellow{% endif %}"></i></a>
																				<a><i class="fa fa-star {% if rating >= 4 %} text-yellow{% endif %}"></i></a>
																				<a><i class="fa fa-star {% if rating >= 5 %} text-yellow{% endif %} mr-1"></i>(145 reviews)</a>
																			</div>
																	</div>
																</div>
																<div class="ml-auto">
																	{% comment %} <a href="{% url 'listing' listing.slug %}" class="mr-3"><i class="fa fa-user text-muted mr-1"></i>{{listing.direction_name}}</a> {% endcomment %}
																	{% comment %} <a href="{% url 'listing' listing.slug %}" class="mr-3"><i class="ion-checkmark-circled text-success mr-1"></i>Rating {{rating |floatformat:1}}</a> {% endcomment %}
																	<a href="{% url 'listing' listing.slug %}" class="btn btn-primary mt-3 mt-sm-0">Отзывы о курсе</a>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
												{% endfor %}
											{% else %}
												<div class="col-md-12">
													<p> No content </p>
												</div>
											{% endif %}
										</div>

										<div class="tab-pane active" id="tab-12">
								<div class="card mt-5 store">
									<div class="table-responsive">
										<table class="table card-table table-vcenter text-nowrap">
										
										<tr>
												<td> <strong>Название курса</strong></td>
												<td> <strong>Рейтинг</strong></td>
												<td> <strong>Ак.ч.</strong></td>
												<td> <strong>Длительность</strong></td>
												
												<td class="text-right">
													<strong>Стоимость</strong>
												</td>
											</tr>
										
										{% if zipped %}
											{% for listing, rating in zipped %}
											<tr>
												<td><a href='{% url 'listing' listing.slug %}'> {{listing.course_name}} </a>	<span class="label label-warning arrowed-in-right arrowed">{{listing.vendor}}</span>	</td>

												<td>
													<div class="rating-stars block">
														{% comment %} <div class="rating-stars-container"> {% endcomment %}
														<div class="item-card2-rating">
														<a><i class="fa fa-star{% if rating >= 1 %} text-yellow{% endif %}"></i></a>
														<a><i class="fa fa-star{% if rating >= 2 %} text-yellow{% endif %}"></i></a>
														<a><i class="fa fa-star{% if rating >= 3 %} text-yellow{% endif %}"></i></a>
														<a><i class="fa fa-star{% if rating >= 4 %} text-yellow{% endif %}"></i></a>
														<a><i class="fa fa-star{% if rating >= 5 %} text-yellow{% endif %}"></i></a>

													
														</div>
													</div>
												</td>
												<td class="text-center text-muted d-none d-md-table-cell text-nowrap">{{listing.academic_hours}} ч.</td>
												<td class="text-center text-muted d-none d-md-table-cell text-nowrap">{{listing.program_length}} мес.</td>
												<td class="text-right">
													<strong>{{listing.price_full | intcomma}} Р.</strong>
												</td>
											</tr>
											{% endfor %}
										{% endif %}
											
										</table>
									</div>


											</div>
										</div>
									</div>
								</div>
								<div class="center-block text-center">
									<ul class="pagination mb-0">
										<li class="page-item page-prev disabled">
											<a class="page-link" href="#" tabindex="-1"> < </a>
										</li>
										<li class="page-item active"><a class="page-link" href="#">1</a></li>
										<li class="page-item"><a class="page-link" href="#">2</a></li>
										<li class="page-item"><a class="page-link" href="#">3</a></li>
										<li class="page-item page-next">
											<a class="page-link" href="#">></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!--/Job lists-->
						
				</div>
				
			</div>
			
		</section>
		<!--/Job Listings-->



{% endblock content %}
