{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% load ratings %}

{% block content %}
		<!--Categories-->
		<section class="sptb bg-white">
			<div class="container">
				<div class="section-title center-block text-center">
					<h2>Categories</h2>
					<p>Mauris ut cursus nunc. Morbi eleifend, ligula at consectetur vehicula</p>
				</div>
				<div class="row">

					{% for category, count in all_categories_courses_count.items %}
					<div class="col-xl-3 col-lg-6 col-md-6">
						<div class="card">
							<div class="item-card">
								<div class="item-card-desc">
									<a href="{% url 'category' count.slug%}"></a>
									<div class="item-card-img">
										<img src="{% static '/images/products/h4.png' %}" alt="img" class="br-tr-7 br-tl-7">
									</div>
									<div class="item-card-text">
										<h4 class="mb-0">{{category}} <span>{{count.category_courses_count| intcomma}}</span></h4>

									</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</section>
		<!--/Categories-->

		{% comment %} <!--Categories-->
		<section class="sptb">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="card mb-0">
							<div class="card-header">
								<h3 class="card-title">Categories</h3>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-lg-4 col-md-12">
										<div class="card-body border mb-5 mb-lg-0">
											<div class="cat-title">
												<a href="#" class="text-dark"><h3 class="card-title mb-3"><i class="fa fa-briefcase mr-1"></i> Full Time Jobs </h3></a>
											</div>
											<ul class="list-unstyled widget-spec  p-1">
												<li class="">
													<a href="#" class="text-dark"><i class="fa fa-angle-right fs-14 text-primary"></i> Accountant</a>
												</li>
												<li class="">
													<a href="#" class="text-dark"><i class="fa fa-angle-right fs-14 text-primary"></i> IT Hardware & Network Engineer </a>
												</li>
												<li class="">
													<a href="#" class="text-dark"><i class="fa fa-angle-right fs-14 text-primary"></i> IT Software - Developer </a>
												</li>
												<li class="">
													<a href="#" class="text-dark"><i class="fa fa-angle-right fs-14 text-primary"></i> Marketing </a>
												</li>
												<li class="">
													<a href="#" class="text-dark"><i class="fa fa-angle-right fs-14 text-primary"></i> Web Developer</a>
												</li>
												<li class="">
													<a href="#" class="text-dark"><i class="fa fa-angle-right fs-14 text-primary"></i> Nurse </a>
												</li>
												<li class="">
													<a href="#" class="text-dark"><i class="fa fa-angle-right fs-14 text-primary"></i> Cook/ Chef </a>
												</li>
												<li class="">
													<a href="#" class="text-dark"><i class="fa fa-angle-right fs-14 text-primary"></i> Hospitality Executive </a>
												</li>
												<li class="mb-0">
													<a href="#" class="text-primary"> View more..</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="col-lg-4 col-md-12">
										<div class="card-body border mb-5 mb-lg-0">
											<div class="cat-title">
												<a href="#" class="text-dark"><h3 class="card-title mb-3"><i class="fa fa-briefcase mr-1"></i>  Part Time Jobs</h3></a>
											</div>
											<ul class="list-unstyled widget-spec p-1">
												<li class="">
													<a href="#" class="text-dark"><i class="fa fa-angle-right fs-14 text-primary"></i> Real estate agent</a>
												</li>
												<li class="">
													<a href="#" class="text-dark"><i class="fa fa-angle-right fs-14 text-primary"></i> Sales representative</a>
												</li>
												<li class="">
													<a href="#" class="text-dark"><i class="fa fa-angle-right fs-14 text-primary"></i> receptionist Jobs</a>
												</li><li class="">
													<a href="#" class="text-dark"><i class="fa fa-angle-right fs-14 text-primary"></i>  Data Entery Jobs</a>
												</li>
												<li class="">
													<a href="#" class="text-dark"><i class="fa fa-angle-right fs-14 text-primary"></i> Delivery Boys Jobs</a>
												</li>
												<li class="">
													<a href="#" class="text-dark"><i class="fa fa-angle-right fs-14 text-primary"></i> BPO / Telecaller </a>
												</li>
												<li class="">
													<a href="#" class="text-dark"><i class="fa fa-angle-right fs-14 text-primary"></i> Sales</a>
												</li>
												<li class="">
													<a href="#" class="text-dark"><i class="fa fa-angle-right fs-14 text-primary"></i> Cook / Chef </a>
												</li>
												<li class="mb-0">
													<a href="#" class="text-primary"> View more..</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="col-lg-4 col-md-12">
										<div class="card-body border mb-0">
											<div class="cat-title">
												<a href="#" class="text-dark"><h3 class="card-title mb-3"><i class="fa fa-briefcase mr-1"></i>Work From Home Jobs</h3></a>
											</div>
											<ul class="list-unstyled widget-spec p-1">
												<li class="">
													<a href="#" class="text-dark"><i class="fa fa-angle-right fs-14 text-primary"></i>Data Entry Jobs</a>
												</li>
												<li class="">
													<a href="#" class="text-dark"><i class="fa fa-angle-right fs-14 text-primary"></i> Delivery / Collections </a>
												</li>
												<li class="">
													<a href="#" class="text-dark"><i class="fa fa-angle-right fs-14 text-primary"></i> Sales</a>
												</li>
												<li class="">
													<a href="#" class="text-dark"><i class="fa fa-angle-right fs-14 text-primary"></i> Travel Agent</a>
												</li>
												<li class="">
													<a href="#" class="text-dark"><i class="fa fa-angle-right fs-14 text-primary"></i> Sales-Marketing</a>
												</li>
												<li class="">
													<a href="#" class="text-dark"><i class="fa fa-angle-right fs-14 text-primary"></i> Social Media Manager</a>
												</li>
												<li class="">
													<a href="#" class="text-dark"><i class="fa fa-angle-right fs-14 text-primary"></i> Call-Center Representative</a>
												</li>
												<li class="">
													<a href="#" class="text-dark"><i class="fa fa-angle-right fs-14 text-primary"></i> Freelance Writer</a>
												</li>
												<li class="mb-0">
													<a href="#" class="text-primary"> View more..</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/Categories--> {% endcomment %}

{% endblock content %}